.table-font{
    font-family: 'Indie Flower', cursive !important;
    font-size:20px !important;
}

.page-header-font{
    font-family: 'Pacifico', cursive !important;
}
.input-width{
    
    width:75% !important;
}